


body {
   margin: 0;
   height: 100vh;
   background: grey;
   justify-content: center;
   align-items: center;
   display: flex;

}
#app {
   --gap: 0.5rem;
   display: grid;
   grid-auto-rows: auto auto;
   width: max-content;
   gap: var(--gap);
   background: darkolivegreen;
   padding: 1rem;
   border-radius: 0.5rem;
   box-shadow: 0 0.5rem 3rem black;
}

.display {
   background-color: goldenrod;
   padding: 1rem;
}
.display > p {
   height: 1rem;
}
.display__input {
   text-align: left;
}
.display__output {
   text-align: right;
}

.buttons {
   display: flex;
   flex-direction: row;
   gap: var(--gap);
}
.buttons__numbers {
   display: grid;
   grid-template-columns: repeat(3, 3rem);
   grid-auto-rows: 2rem;
   gap: var(--gap);
}
.buttons__operators {
   display: grid;
   grid-template-columns: repeat(2, 3rem);
   grid-auto-rows: 2rem;
   gap: var(--gap);
}
.wide {
   grid-column: span 2;
}