@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&family=VT323&display=swap');


body {
   margin: 0;
   height: 100vh;
   background: grey;
   justify-content: center;
   align-items: center;
   display: flex;
   
}
#app {
   --gap: 0.5rem;
   display: grid;
   grid-auto-rows: auto auto;
   width: max-content;
   gap: var(--gap);
   background: olivedrab;
   padding: 1rem;
   border-radius: 0.5rem;
   box-shadow: 0 0.5rem 3rem black;
}
.display {
   background-color: goldenrod;
   font-family: VT323, monospace;
   font-size: 1.5rem;
}
.display > p {
   height: 1.5rem;
   margin: 1rem;
}
.display__input {
   text-align: left;
}
.display__output {
   text-align: right;
}

button {
   font-family: 'Ubuntu', sans-serif;
   font-size: 1rem;
   border-radius: 0.2rem;
   border-right: 2px solid dimgray;
   border-bottom: 2px solid dimgray;
   border-left: 1px solid lightgray;
   border-top: 1px solid lightgray;
}
button:hover {
   opacity: 80%;
}
.buttons {
   display: flex;
   flex-direction: row;
   gap: var(--gap);
}
.buttons__numbers {
   display: grid;
   grid-template-columns: repeat(3, 3rem);
   grid-auto-rows: 2rem;
   gap: var(--gap);
}
.number,.operator,#equals {
   background-color: blanchedalmond;
}
.control {
   background-color: firebrick;
}
.buttons__operators {
   display: grid;
   grid-template-columns: repeat(2, 3rem);
   grid-auto-rows: 2rem;
   gap: var(--gap);
}
.wide {
   grid-column: span 2;
}